<launch>
  <arg name="pkg" value="velodyne_puck"/>
  <arg name="ns" default="velodyne"/>
  <arg name="cloud" default="cloud"/>

  <arg name="frame_id" default="$(arg ns)"/>
  <arg name="image_width" default="1800"/>
  <arg name="organized" default="true"/>

  <node pkg="$(arg pkg)" type="$(arg pkg)_decoder" name="$(arg pkg)_decoder" output="screen" ns="$(arg ns)">
    <!-- params -->
    <param name="frame_id" type="string" value="$(arg frame_id)"/>
    <param name="image_width" type="int" value="$(arg image_width)"/>
    <param name="organized" type="bool" value="$(arg organized)"/>

    <!-- input -->
    <remap from="~packet" to="packet"/>

    <!-- output -->
    <remap from="~cloud" to="$(arg cloud)"/>
    <remap from="~image" to="image"/>
    <remap from="~camera_info" to="camera_info"/>
    <remap from="~intensity" to="intensity"/>
    <remap from="~range" to="range"/>
  </node>

</launch>
